{% extends "base.html" %}

{% block title %}Outfit Creator{% endblock %}

{% block body %}


<style>
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides1, .mySlides2 {display: none}
  img {vertical-align: middle;}

  /* Slideshow container */
  .slideshow-container {
  max-width: 250px;
  max-height: 250px;
  position: relative;
  margin: auto;
  }

  /* Caption text */
  .text {
  color: black;
  font-size: 15px;
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
  }

  /* Next & previous buttons */
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }

  p {
  bottom: 0px;
  top: 0px;
  }

  /* Position the "next button" to the right */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }

  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
  }

  .chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 10px;
  margin: 1px;
  color: white;
  }
  
</style>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-3">
      <br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br>
      <h4 id="graph"> Item Distribution </h4>
      <div class="chart" id="chartInfo">
      </div>
    </div>
    <div class="col-sm-6" align="center">
      <h2 style="text-align:center">Outfit Creator</h2>
      <p style="text-align:center">Top</p>
      <div class="slideshow-container">
	{% for top in tops %}
	<div class="mySlides1">
	  <img src="static/img/{{top[1]}}.{{top[4]}}" style="width:100%">
	  <div class="text">{{top[3]}}</div>
	</div>
	{% endfor %}
	
	<a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
	<a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
      </div>
      <br>

      <p style="text-align:center">Bottom</p>
      <div class="slideshow-container">
	{% for pant in pants %}
	<div class="mySlides2">
	  <img src="static/img/{{pant[1]}}.{{pant[4]}}" style="width:100%">
	  <div class="text">{{pant[3]}}</div>
	</div>
	{% endfor %}

	<a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
      </div>

      <br>
      <p style="text-align:center">Shoes</p>
      <div class="slideshow-container">
	{% for shoe in shoes %}
	<div class="mySlides3">
	  <img src="static/img/{{shoe[1]}}.{{shoe[4]}}" style="width:100%">
	  <div class="text">{{shoe[3]}}</div>
	</div>
	{% endfor %}
	<a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
	<a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
      </div>
    </div>
  </div>
</div>
<div>
  <center>
    <form action="/add_outfit" method="GET">
      <input type="hidden" name="topForm" id="topForm" value="0">
      <input type="hidden" name="pantForm" id="pantForm" value="0">
      <input type="hidden" name="shoeForm" id="shoeForm" value="0">
      <input type="text" name="outfitName" value="Outfit Name">
      <input type="submit" value="Submit">
    </form>
  </center>
</div>
<script src="static/creator.js"></script>
<script src="static/graph.js"></script>
{% endblock %}
