<!DOCTYPE html>
<html lang="en">
  <title>
    Home
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="calendar.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <body id="mainPage">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#mainPage">Closet Organizer</a>
	</div>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="/upload"> Upload </a></li>
	  <li><a href="/calendar"> Calendar </a></li>
	  <li><a href="/home"> My Closet </a></li>
	  <li><a href=""> Outfit Creator </a></li>
	</ul>
      </div>
    </nav>
    <br>
    <br>
    <br>
  </body>
</html>
